body {
    align-items: center;
}
.select-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
}
  
/* Select Label Styles */
.select-label {
    margin-bottom: 10px; /* Add spacing between label and select */
}

/* Select Styles */
.custom-select {
    width: 200px;
    height: 30px;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    border-radius: 100px;
    border: 1px solid hsl(14, 29%, 19%);
    color: #ffffff;
    background-color: #402a23;
    position: relative;
    white-space: nowrap;
    outline: none;
}

.custom-select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    color: #402a23;
  }