[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
google-cloud-storage = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.8"
