[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.23.5"
tensorflow = "2.13.0"
google-cloud = "*"
wandb = "*"
google-cloud-storage = "2.8.0"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.9"
